# Maven / Gradle build outputs
*.class

# Ignore packaged files
*.jar
*.war
*.ear

target/
build/
out/

# IDE-specific folders
.idea/
.vscode/
*.iml

# Ignore logs and temporary files
*.log
*.tmp
*.bak

# Ignore OS files
.DS_Store
Thumbs.db
